@font-face {
  font-family: 'Roboto Mono Medium';
  font-style: normal;
  src: local('Roboto Mono Medium'),
    url('./assets/RobotoMono-Medium.ttf') format('truetype');
}

:root {
  font-family: 'Roboto Mono Medium', 'Courier New', monospace;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background-color: black;

  min-height: 100vh;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(white, 0.15),
    rgba(white, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}
